// Place all the styles related to the Snippets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Navbar
// Move body away from nav bar
.container-fluid {  padding-top: 60px; }

// Styling for snippet cards
@mixin create-snippet-card {
  @extend .card;
  @extend .card-outline-success;
  @extend .col-sm-12;
}

.snippet-card {
  @include create-snippet-card;
}

// font-size within cards and all children,
//in order to reach //  /html/body/div[1]/div[2]/div[1]/div[3]/p/text()
// and all ul and li etc within
.card-columns >* {
  font-size: .9em;
}

.card-columns a {
  //color: #aa759f;
  color: $brand-support;
}

.card-columns #snip-title a {
  //color: black;
  &:hover {
    color: $brand-primary;
  }
}
.card-footer a {
  //color: $brand-support;

  .grey-link {
    color: $brand-support;
  }
}

a {
  word-break: break-all;

  &:hover {
    color: $brand-primary
  }
}
