<div class="form-inline pull-xs-right">
  <%= form_tag(snippets_path, method: 'get', id: 'search-form', role: 'search') do %>
   <%= text_field_tag :search, params[:search], placeholder: 'Search in snippets' %>
   <%= submit_tag "Find", class: "btn btn-sm btn-outline-success" %>
   <%= link_to_if(params[:search].present?, "Clear", snippets_path) do %>
    <a></a>
    <% end %>
  <% end %>
</div>
