<div class= 'card-columns'><!--<div class="card-columns">-->
  <div class="plus-card plus-card-home"><!--card with plus links to form-->
    <div id='new_form_link'>
      <h4 class="card-title">
       <p><%= link_to new_snippet_path, remote: true do %>
          <div class="animated"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></div>
      <% end %>
      </h4>
      <div class="card-block">
        <h6>Try it out! Click the plus sign to create your first snippet :-)
        </h6>
        <div>This will take you to a new page</div>
      </div>
    </div>
  </div>

  <div class = 'snippet-card'>
    <%= render template: 'devise/registrations/new.html.erb' %>
  </div>


  <div class = 'snippet-card'>
    <div class="card-block" id="snip-title">
      <h6>A developer's journal with:</h6>
    </div>
    <div class="card-block">
      <ul>
        <li>Github Flavored Markdown</li>
        <li>Syntax Highlighting</li>
        <li>Tags and Anchors</li>
        <li>Smart Search in title, content, tags and projects </li>
      </ul>

      <p>Use Snippety to:
      <ul>
        <li>Collect code snippets</li>
        <li>Organize everything with tags</li>
        <li>Jot down ideas</li>
        <li>Collect research notes </li>
      </ul>
      </p>
    </div> <!--card block-->
  </div> <!--card-->

  <div class="snippet-card">
    <div class="card-block" id="snip-title">
      <h6>About Snippety</h6>
    </div>
    <div class="card-block">
      Snippety started when I was looking for a pet project while learning Ruby on Rails. The first thing I needed was a nice tool to collect my lessons learned and document my learning goals. I couldn't find what I need, so.....  Here is Snippety - alpha.
    </div>
  </div>

  <div class="snippet-card">
    <div class="card-block" id="snip-title">
      <h6>Alpha version: beware!</h6>
    </div>
    <div class="card-block">Snippety is still a pet project, albeit one with ambition. The data you post is not encrypted yet and the images are hosted on a public S3 bucket. Be aware that Snippety is not yet suitable for sensitive information.</div>

  </div>

</div>
