$brand-primary:             #00b33c !default;
$brand-support:             #774f6c !default;  //also tried #aa759f

$enable-flex:               true !default;

$btn-primary-color:         $brand-primary !default;
$btn-primary-bg:            #fff !default;
$link-hover-decoration:     none !default;

//$grid-columns:      5 !default;
$grid-gutter-width: 20px;

// code and highlights style
$code-font-size:              80% !default;  //default == 90%
$code-color:                $brand-support !default;
$pre-bg:                    #E9E9E9 !default;