// Place all the styles related to the Snippets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Navbar
//
// Move body away from nav bar
body {  padding-top: 40px;  }

// Styling for snippet cards
@mixin create-snippet-card {
  @extend .card;
  @extend .card-inverse;
  @extend .card-success;
  @extend .col-sm-12;

}

.snippet-card {
  @include create-snippet-card;
  background-color: #f5f7f9;
}

// font-size within cards and all children,
//in order to reach //  /html/body/div[1]/div[2]/div[1]/div[3]/p/text()
// and all ul and li etc withing
.card-columns >* {
  font-size: .9em;
}

.card-columns a {
  //color: #aa759f;
  color: $brand-support;
}

.card-columns #snip-title a {
  //color: $brand-primary;
  color: black;
  &:hover {
    color: $brand-primary;
  }
}
.card-footer a {
  //color: $brand-primary;
  color: $brand-support;

  .grey-link {
    color: $brand-support;
  }
}

a {
  &:hover {
    color: $brand-primary
  }
}